* {
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    margin: 0;  
}

/***********SearchBar*************/

header{
    padding: 25px;
    display: flex;
    justify-content: end;   
}

#searchbar-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 9rem;;
}

#searchbar{
    width: 145px;
    height: 28px;
    padding: 7px 14px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    outline: none;
    color: #1f1e1e;
    opacity: 0.6;
    border: 1px solid #dedede;
    border-radius: 50px;
    box-shadow: 0px 0px 2px #83b6d3;
    -moz-box-shadow: 0px 0px 2px #83b6d3;
    -webkit-box-shadow: 0px 0px 2px #83b6d3;  
}
/***********MovieGallery*************/


main{
    /* For responsive view */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 7rem;
   padding-top:0;
}

/****************************/
.movie{
   width: 8rem;
   margin: 0.5rem;
   margin-bottom: 2rem;
   border:1px solid #ffffff;
   border-radius: 16px 16px 5px 5px ;
   background-color: #ffffff;
   box-shadow: 0px 0px 2px #d6d8da;
   -moz-box-shadow: 0px 0px 2px #d6d8da;
   -webkit-box-shadow: 0px 0px 2px #d6d8da;
   transition: transform .6s;
}
.movie:hover{
    transform: scale(1.05); /* Animation */
}

.movie img{
   width: 100%;
   height: 120px;;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
}

/****************************/

.top-info{
    display:flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-weight: 500;
    height: 20px;
}


.movie-name{
    font-size: 12px;
}
/********* Tooltip **************/

.tooltip{ /* tooltip main position : displaying the full name when hover */
    position: relative;
}

.tooltip .text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
      /* Position the tooltip */
    position: absolute;
    left: 0;
    top: 15px;
    z-index: 1;
}

.tooltip .no-text{
    visibility: hidden;
}
.tooltip:hover .text{
    visibility: visible;
}

/****************************/
.movie-vote{
    width: 20px;
    height:15px;
    text-align: center;
    background-color: #ebe7e783;
    border-radius: 3px;
    font-size: 10px;
}

/****************************/

.movie-year{
    padding: 0.5rem;
    font-size: 12px;
	font-weight: 400;
	color: #999999;
    height: 20px;
}
