* {
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    margin: 0;  
}

/***********SearchBar*************/

header{
    padding: 25px;
    display: flex;
    justify-content: end;   
}

#searchbar-container{
    display: flex;
    justify-content: flex-end;
    padding-right: 9rem;;
}

#searchbar{
    width: 145px;
    height: 28px;
    padding: 7px 14px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    outline: none;
    color: #1f1e1e;
    opacity: 0.6;
    border: 1px solid #dedede;
    border-radius: 50px;
    box-shadow: 0px 0px 2px #83b6d3;
    -moz-box-shadow: 0px 0px 2px #83b6d3;
    -webkit-box-shadow: 0px 0px 2px #83b6d3;  
}
